import abc

import colapy


class Generator(colapy.GeneratorBase):
    @abc.abstractmethod
    def __call__(self) -> colapy.EventData: ...


class Converter(colapy.ConverterBase):
    @abc.abstractmethod
    def __call__(self, event: colapy.EventData) -> colapy.EventData: ...


class Writer(colapy.WriterBase):
    @abc.abstractmethod
    def __call__(self, event: colapy.EventData) -> None: ...
